body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

p {
    background: rgba(0, 0, 0, 0);
    margin: 0 0 10px;
}

.brhi {
    display: none;
}

/* ナビゲーションバー ================================ */

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.navigate {
    position: relative;
    background-color: #fff;
    height: 80px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0;
}

.nav-logo {
    display: inline-block;
    padding-right: 0;
    width: 90px;
    margin-top: 15px;
    margin-left: 150px;
}

.nav-logo img {
    max-width: 140%;
    max-height: 140%; 
}

.nav-subtitle {
    position: absolute;
    left: 280px;
    top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.nav-form {
    background-color: #da6b64;
    position: absolute;
    padding: 0px 50px;
    border-radius: 30px;
    left: 1000px;
    top: 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.nav-form p {
    padding-top: 10px;
}

.nav-responsive {
    display: none;
}

/* ヘッダー ============================== */

.top-wrapper {
    margin-top: 0;
    background-image: url("画像/main.jpg");
    background-size: cover;
    height: 480px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    background-position: center;
}

.top-wrapper p {
    padding-bottom: 0;
}

.top-wrapper img {
    width: 317px;
}

.top-para {
    font-size: 20px;
}

.bottom-wrapper {
    position: relative;
    background-color: #ebb94d;
    text-align: center;
    height: 620px;
    margin-top: 0;
    padding-top: 30px;
}

.bottom-wrapper p {
    color: white;
    padding: 20px 0;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}


.deadline {
    margin-top: 250px;
}

.attention p {
    position: absolute;
    top: 120px;
    left: 520px;
    background-color: white;
    color: #da6b64;
    font-weight: bold;
    padding: 10px 0;
    width: 520px;
    font-size: 20px;
    border-radius: 5px;
}

.bottom-link {
    position: absolute;
    top: 250px;
    left: 300px;
    background-color: #da6b64;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding: 20px 300px;
    font-size: 25px;
}

.header-form {
    margin: 20px 0;
}

.fontawesome {
    display: flex;
    margin-left: 600px;
    font-size: 10px;
    font-weight: bold;
}

.btn {
    margin-right: 20px;
}

.fa-twitter {
    margin-right: 5px;
}

.fa-thumbs-up {
    margin-right: 5px;
}

.twitter {
    background-color: #1b95e0;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.good {
    background-color: #1b95e0;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.share {
    background-color: #1b95e0;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* メイン ============================ */

main {
    margin-top: 40px;
    text-align: center;
}

/* イントロダクション ================== */

.introduction {
    background-image: url("画像/introbottom.jpg");
    background-size: cover;
    background-position: center;
    height: 587px;
}

.introduction-heading {
    position: relative;
    width: 900px;
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    left: 320px;
    font-size: 22px;
}

.introduction-heading::before,
.introduction-heading::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.introduction-heading::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.introduction-heading::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.introduction-paragraph {
    font-size: 20px;
}

.marker {
    background: linear-gradient(transparent 60%, #ebb94d 0%);
}

.about {
    background-color: #fef5e0;
    text-align: center;
}

.about-icon {
    position: relative;
    top: -40px;
}

.circle1 {
    background-color: #ebb94d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    color: white;
    line-height: 80px;
}

.title-brackets {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.title-brackets::before,
.title-brackets::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.title-brackets::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.title-brackets::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.text1 {
    font-size: 24px;
}

.text-p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600px;
}

/* 概要 =========================================== */

.about-box {
    width: 1170px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    max-width: calc(100% - 40px);
}

.box {
    display: inline-block;
    padding: 10px;
}

.about-second {
    background-image: url("画像/aboutsecondbg.jpg");
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    font-weight: 600;
}

.yellow {
    color: #ebb94d;
}

.about-container {
    margin: 50px 0;
}

.text1 {
    margin: 20px 0;
}

.text-p {
    margin: 0;
}

.text-s {
    font-size: 14px;
    font-weight: 600;
}

.text-xs {
    margin-top: 30px;
    font-size: 12px;
}

.sidebox {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    width: 350px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px 0;
}

.step-text {
    background-color: #ebb94d;
    color: white;
    margin: 0 10px;
    border-radius: 5px;
}

.sidecontents {
    padding-top: 20px;
}

.about-third {
    background-color: #016ea9;
    padding: 40px 0;
    font-weight: 600;
}

.txt1 {
    color: white;
    font-size: 20px;
}

.txt-p {
    color: white;
}

/* ラーニング============================================= */

.learning {
    padding: 40px 0;
}

.learningbox {
    display: inline-block;
    margin-right: 30px;
}

.learning img {
    width: 150px;
    height: 150px;
}

.txt2 {
    margin-bottom: 35px;
}

.txt2-p {
    font-size: 20px;
    font-weight: 300;
}

/* メリット ========================================== */
.merit {
    background-color: #fef5e0;
    padding: 40px 0;
}

.meritbox {
    overflow:hidden;
    height: 420px;
    display: inline-block;
    margin-right: 30px;
    width: 350px;
    text-align: left;
    margin-top: 0;
}

.meritbox img {
    width: 350px;
}

.meritbox b {
    font-size: 20px;
}

.meritdetail {
    width: 350px;
    margin: 0;
    padding: 0;
}

.text-m {
    font-size: 16px;
}

/* サポート ========================================= */

.support {
    background-color: white;
    border: 2px solid #ebb94d;
    width: 1170px;
    padding: 40px 20px;
    margin: 40px auto;
    font-weight: 600;
}

.support p {
    margin: 0 0 10px 0;
}

.support .txtl {
    font-size: 28px;
    font-weight: 600;
}

.support .txtm {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.txts {
    font-size: 16px;
    font-weight: 600;
}

.meritbottom {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* 講師紹介 ====================================== */

.teacher {
    background-image: url("画像/teacherbg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 40px 0;
}

.t-box {
    display: inline-block;
    width: 400px;
    padding: 0 20px;
}

.t-box img {
    position: relative;
    bottom: -35px;
    border-radius: 50%;
}

.detail {
    border: 3px solid white;
    padding: 40px;
}

/* Q＆A ================================================= */

.why {
    position: relative;
    background-color: #ebb94d;
    padding: 40px 0;
}

.circle2 {
    color: #ebb94d;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
}

.whitebrackets {
    margin: 0px auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

.whitebrackets::before,
.whitebrackets::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.whitebrackets::before {
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

.whitebrackets::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

/* アンサー ============================================= */

.answer-question {
    padding: 40px 0;
}

.answer-question .txtl {
    font-size: 24px;
    font-weight: 600;
}

.client-voice {
    display: flex;
    color: #777;
    font-size: 18px;
    margin-left: 400px;
    padding: 15px 0;
}

.client-detail {
    width: 450px;
    text-align: left;
}

.answer-question img {
    border: 3px solid #ebb94d;
    width: 230px;
    height: 230px;
    margin-right: 20px;
}

small {
    font-size: 85%;
    text-decoration: underline;
    margin-top: 15px;
}

/* 内容一覧 ================================================= */

.contents-list {
    background-image: url("画像/classbg.jpg");
    background-size: cover;
    padding: 40px 0;
    height: 750px;
}

.contents-list .txtl {
    color: white;
}

.texts {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.listbox {
    position: relative;
}

.listwrap1 {
    background-color: #fff;
    border: 2px solid #016ea9;
    border-radius: 5px;
    padding: 0;
    width: 350px;
    height: 527px;
    position: absolute;
    top: 0px;
    left: 350px;
}

.listwrap2 {
    background-color: #fff;
    border: 2px solid #016ea9;
    border-radius: 5px;
    padding: 0;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 750px;
}

.contents-list .txtm {
    background-color: #016ea9;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.contents-list .txts {
    padding: 0 10px;
}

.listwrap1 ul li {
    padding: 10px;
    border-bottom: 1px dotted #e5e5e5;
    list-style: none;
}

.listwrap2 ul li {
    padding: 10px;
    border-bottom: 1px dotted #e5e5e5;
    list-style: none;
}

/* 受講の流れ ============================================== */

.flow {
    padding: 40px 0;
}

.flowing {
    margin: 40px auto;
}

.flowbox {
    background-color: #fef5e0;
    padding: 10px 35px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.flowbox p {
    margin: 20px 0;
}

.flowbox .txtm {
    color: black;
}

.flowleft {
    margin-top: 40px;
}

.flowright {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    width: 810px;
    padding: 10px 0 0;
}

.txtxs {
    font-size: 14px;
    font-weight: 300;
}

#hide {
    display: none;
}

/* バンコク ========================================================= */

.bangkok {
    background-image: url("画像/bangkokbg.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: left;
}

.bangkokdetail {
    margin-left: 200px;
}

.bangkok .txtm {
    color: white;
}

.bangkok .txtxs {
    color: white;
}

.bangkok-bottom {
    margin-left: 200px;
}

.bangkoklist {
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-left: -20px;
}

/* 特典 ============================================================ */

.special {
    padding: 40px 0;
    background-color: #ebb94d;
    position: relative;
}

.fa-gift {
    font-size: 25px;
    margin-right: 10px;
    padding-top: 25px;
}

.special-heading {
    display: flex;
    margin-left: 550px;
}

.special h2 {
    background-color: #ebb94d;
}

.specialbox-title {
    position: absolute;
    top: 200px;
    left: 480px;
    padding: 0 30px;
}

.white {
    color: white;
}

.specialbox {
    margin-top: 100px;
    border: 2px solid #fff;
    width: 1170px;
    margin-left: 200px;
    padding: 40px 0;
}

.specialicon {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    margin: 30px 100px 0 0;
    position: relative;
}

.specialicon .txtm {
    position: absolute;
    top: 50px;
    left: 100px;
    color: #ebb94d;
}

.specialicon .txts {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 230px;
}

.special-message {
    background-image: url("画像/specialdetail.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.special-message .txtm {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    color: white;
}

.special-message .txtl {
    color: white;
}

/* 創業者メッセージ ========================================== */

.founder {
    padding: 40px 0;
    display: inline-block;
}

.founder-contents {
    margin-top: 40px;
    display: flex;
}

.founder-img img {
    width: 200px;
    height: 150px;
    margin-right: 30px;
}

.founder .txtl {
    margin: 30px 0;
} 

.founder .txtm {
    color: black;
}

.founder-message {
    width: 660px;
    text-align: left;
    margin-bottom: 50px;
}

.founder-list {
    margin: 40px 0;
}

/* フォーム ========================== */
.form {
    background-color: #ebb94d;
    padding: 40px 0;
}

.fa-file-alt {
    font-size: 30px;
    margin-right: 10px;
    padding-top: 25px;
}

.form-heading {
    display: flex;
    margin-left: 630px;
}

.contact {
    display: block;
}

#seimei1 {
    width: 900px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin: 30px 0;
}

#seimei2 {
    width: 900px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

#mail {
    width: 900px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
}

#note {
    width: 900px;
    height: 100px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.submit-btn {
    width: 900px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: #da6b64;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* よくある質問 ========================================================= */

.faq {
    padding: 40px 0;
}

.fa-envelope-open {
    font-size: 30px;
    margin-right: 10px;
    padding-top: 25px;
}

.faq-heading {
    display: flex;
    margin-left: 630px;
}

.faq-list {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.faq-list-item {
    list-style-type: none;
    margin:10px;
    border: 1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align: left;
    padding: 20px 15px;
}

.question-item {
    display:flex;
}

.faq-list-item .question {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 0;
}

.answer {
    font-size: 16px;
    padding: 0;
    margin-top: 15px;
    display: none;
}

.fa-question-circle {
    color: #016ea9;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 5px;
}

.fa-caret-down {
    margin-left: auto;
    font-size: 30px;
}


/* フッダー ============================================================== */
.footerwrap {
    background-color: #ececec;
    padding: 40px 15px 20px 15px;
    text-align: center;
}

.copyright {
    font-size: 10px;
}
